<turbo-frame id ="add_todo_button_<%= source %>">
    <div class="mt-6">
      <%= link_to new_todo_path(source: source ), 
                  data: { turbo_stream: true },
                  class: "inline-flex items-center text-gray-400 hover:text-gray-700 transition-colors" do %>
        <svg xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 mr-1 text-gray-400 hover:text-gray-700 transition-colors"
            fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 4v16m8-8H4" />
        </svg>
        todoを追加
      <% end %>
    </div>
  </turbo-frame>