<p><%= @resource.name.presence %> 様</p>

<!--メール変更をした場合(unconfirmed_emailがある場合) -->
<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのアカウントのメールアドレスが <%= @resource.unconfirmed_email %> へ変更申請されました。</p>
  <p>もしこの操作に心当たりがない場合は、サポートまでご連絡ください。</p>
<% else %>
  <p>あなたのアカウントのメールアドレスは <%= @resource.email %> に変更されました。</p>
  <p>もしこの操作に心当たりがない場合は、至急サポートまでご連絡ください。</p>
<% end %>
